body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    min-height: 584px;
    background: #060a31;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #e9d0d0;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(230, 214, 214);
    width: 500px;
    text-align: center;

}

h1 {
    color: rgb(231, 17, 17);
}

h3 {
    font-size: small;
}

label {
    display: block;
    width: 100%;
    margin-top:20px;
    margin-bottom: 5px;
    margin-left: -120px;
    color: #555;
    font-weight: bold;


}

input {
    display: block;
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f16060;
    border-radius: 15px;
    margin-left: 22%;
}

.forgot {

    text-align: right;
    margin-right: 50px;
}


button {
    padding: 15px;
    border-radius: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(21, 78, 127);
    width: 50%;
    font-size: 15px;

}

button:hover {
    opacity: 0.6;
    cursor: pointer;

}

button:active {
    color: #e11616;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
